#root {
    width:100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr)); 
    grid-gap: 15px;
    margin-top: 25px;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 15px;
    background: rgba(237, 233, 233, 0.811);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 300px;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: whitesmoke;
}

.img-box {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.images {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius:15px;
}

.bottom {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
button {
    width: 60%;
    border: none;
    border-radius: 50px;
    padding: 7px 25px;
    cursor: pointer;
    color: black;
    transition: background 0.3s ease;
    margin-top: 5px;
    margin-bottom: 5px;
}
h2 {
    font-size: 20px;
    color: black;
    font-weight: bold;

}

h4{
    font-size: 17px;
    color: rgb(154, 146, 146) ;
    font-weight: bold;

}

@media (min-width: 768px) {
    #root {
        grid-template-columns: repeat(2, 1fr); 
    }  
    .navbar .btn5{
        width: 10%;
    }
    .navbar .btn4{
        width: 8%;
    }

}

@media (min-width: 2560px) {
    #root {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 480px) {
    #root {
        grid-template-columns: 1fr; 
    }
    .box{
        width: 100%;
    }
    .navbar .btn5{
        width: 20%;
    }
    .modal-content{
        margin-top: 130px;
    }

}
@media (min-width: 1440px) {
    #root {
        grid-template-columns: repeat(3, 1fr); 
    }
    .box{
        width: 95%;
    }
}
@media (min-width: 1024px) {
    #root {
        grid-template-columns: repeat(3, 1fr); 
    }
    .navbar .btn5{
        width: 100%;
    }
  
}
.btn1{
    width: 30%;
}
.btn1:hover{
    background-color: white;
    color: green;
}
.btn2{
    font-weight: bold;

}
.btn2:hover{
    background-color: white;
    color: green;
    border: 1px solid green;
    font-weight: bold;
}
.btn3{
    width: 100%;
}
input[type="search"] {
    border-top: none;
    border-right:none;
    border-bottom: 1px solid black;
    border-left:none;
    outline: none;

}

.navbar h3,a{
    font-weight: bold;
    color: #004466;
}
.head{
    font-weight: bold;
}
.btn4{
    width: 20%;
}
.btn5{
    width: 100%;
    height: 40px;
    font-weight: bold;
}
.btn5:hover{
    background-color: white;
    color: green;
    font-weight: bold;
}
.form-control {
    border-radius: 8px;
    border: 1px solid #aaa;
    padding: 12px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}
.form-control:focus {
    border-color: green;
    box-shadow: 0px 0px 6px rgba(0, 128, 0, 0.5);
}
.btn6{
    width: 100%;
    font-weight: bold;
}

.btn6:hover{
    background-color: white;
    color: green;
    font-weight: bold;
}

